{% extends "base.html" %}
{% load static %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home_jiyoon.css' %}">
<link rel="stylesheet" href="{% static 'home_dain.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div style="background-color: #000000;">
    {% include 'nav.html'%}
    <div class="image_box">
        <img src="{% static 'neon.jpg' %}" style="height:100%; width: 100%; z-index: 0;">
    </div>
    <div class="first">
        <p class="font" style="color: #ffffff;">Alcolpedia</p>
    </div>
    <form action="{%url 'search'%}" class="formclass">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
    
    <div class="tag_box">
        {% for tag in tags %}
        <a href="{% url 'tag' tag.id %}" style="padding:2%; color:white; font-family: 'NEXON Lv1 Gothic OTF';">#{{tag}}</a>
        {% endfor %}
    </div>
</div>

<div class="wrapper">
    <video autoplay muted loop id="myVideo">
        <source src="{% static '술움짤.webm'%}" type="video/webm">
    </video>
    <div class="overlay"></div>
    <section style="background-color: #000000;">
        <div class="container5 game">
            <h2 class="section-title" style="margin-bottom:150px ;">
                요즘 뜨는 술게임
            </h2>
            <div class="card_container">
                {% for content in contents %}
                    
                    <div class="card" style="width: 18rem;">
                        <img src="{{content.image.url}}" class="card-img-top" alt="..." style="border-radius: 4px; height: 15rem">
                        <div class="card-body">
                            <h5 class="card-title">{{content.title}}</h5>
                            <p class="card-text">{{content.summary}}</p>
                            <a href="{% url 'detail' content.id %}" class="btn btn-dark">게임방법</a>
                        </div>
                    </div>
                   
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<div class="wrapper">
    <img src="{% static '오렌지게임.png' %}" style="width: 50%;margin-left: 25%;">
    <div class="game">
        <div id="div2" style="padding-top: 10%;" >두부 게임은 뭐에요?</div>
        <div id="div3">두부 게임은 어려운 게임이 아니에요!<br>
            정신만 똑바로 차리면 잘 할 수 있답니다</div>
            <button id="button" type="button" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</button>
    </div>
</div>

<div class="wrapper">
    <video autoplay muted loop id="myVideo_bgm">
        <source src="{% static '음악2.mp4'%}" type="video/mp4">
    </video>
    <section class="container game">
        <h2 class = "section-title" style="margin-bottom: 10rem;">
            친구가 마실때, 흥을 돋아주자!
        </h2>
        <div class="d-flex justify-content-between">
            {% for bgm in bgms%}
                <div class="col-md-4" style="width: 18rem;">
                    {% if bgm.image %}
                        <div class="circle-player" style="background-image: url({{bgm.image.url}});" onclick="playMusic('{{bgm.audio.url}}')">
                            <i class="fas fa-play" id = "play-icon-{{bgm.audio.url}}"></i>
                        </div>
                    {% else %}
                        <div class="circle-player"  onclick="playMusic('{{bgm.audio.url}}')">
                            <i class="fas fa-play" id = "play-icon-{{bgm.audio.url}}"></i>
                        </div>
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title" style="color:#ffffff; font-family: 'NEXON Lv1 Gothic OTF';">{{bgm.title}}</h5>
                    <p class="card-text" style="color:#ffffff; font-family: 'NEXON Lv1 Gothic OTF';">{{bgm.body}}</p>
                    </div>
            {% endfor %}
        </div>
    </section>
</div>
<div class="wrapper">
    <img src="{% static '왕게임.png' %}" style="width: 50%;margin-left: 25%;">
    <div class="game">
        <div id="div2" style="padding-top: 10%;" >누가 술을 마셔~</div>
        <div id="div3">친구가 술을 마실 때,<br>
            가만히 있을 수 없죠! 흥을 같이 돋우어 줍시다!
    </div>
    <svg id="button" width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
    </svg>
</div>

<section id="body3"> 
    <h2 class="section-title" style="padding-top: 10%;">
        어떤 게 궁금하신가요?
    </h2>
    <div id="div7" style="color:#ffffff;">술게임 미리 공부해볼까요?</div>
    <div class="row">
        <input id="div8" class="form-control" type="text" placeholder="Ex) 딸기게임" >
        <button id="button2" type="button" class="btn btn-dark" style="background-color: #000000; border:1px solid #ffffff">검색하기</button>
    </div>
</section>

{% endblock %}


{% block script %}
<script>
    var musicPlayer = new Audio();
    var currentMusic = "";

    function playMusic(url) {
        if(url == currentMusic) {
            musicPlayer.pause();
            document.getElementById("play-icon-"+url).className = "fa fa-play";
            currentMusic = "";
        }
        else {
            musicPlayer.src = url;
            document.getElementById("play-icon-"+url).className = "fa fa-pause";
            musicPlayer.play();
            currentMusic = url;
        }
    }

</script>   
{% endblock %}