{% extends "base.html" %}
{% load static%}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'bgm.css' %}">
{% endblock %}
{% block content %}
<div id="div5" style="padding-bottom: 10%;">
    <img src="{% static 'BGM최종.png' %}" style="width: 100%;">
    <div class="container" id="div6" style= "margin-top:8%; ">
        <div class="text-left">1.</div>
    </div>
    <div class="container" id="div6" style="margin-top: 2%;">
        <div class="text-left">2.</div>
    </div>
</div>

{% endblock %}