{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home_jiyoon.css' %}">
<link rel="stylesheet" href="{% static 'home_dain.css' %}">
{% endblock %}
{% block content %}

<div style="background-color: #000000;">
    {% include 'nav.html'%}
    <div class="image_box">
        <img src="{% static 'neon.jpg' %}" style="height:100%; width: 100%; z-index: 0;">
    </div>
    <div class="first">
        <p class="font" style="color: #ffffff;">알콜피디아</p>
    </div>
    <form action="{%url 'search'%}" class="formclass">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">

    </form>
    {% for tag in tags %}
        <a class="btn btn-secondary btn-sm" href="{% url 'tag' tag.id %}">#{{tag}}</a>
    {% endfor %}
    <div style="height: 50px;">
    </div>
</div>

<div style="margin-top: 5.7%;">
    <div id="div1">요즘 뜨는 술게임</div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="col-md-4" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</a>
                </div>
            </div>
            <div class="col-md-4" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</a>
            </div>
        </div>
        <div class="col-md-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</a>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="body2">  
    <div>
    <div id="div2" style="padding-top: 10%;" >두부 게임은 뭐에요?</div>
    <div id="div3">두부 게임은 어려운 게임이 아니에요!<br>
        정신만 똑바로 차리면 잘 할 수 있답니다</div>
        <button id="button" type="button" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</button>
    </div>
</div>

<div id="div1" style="margin-top: 5.7%;">친구가 마실때, 흥을 돋아주자!</div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="col-md-4" style="width: 18rem;">
                <svg width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8"/>
                </svg>
                <div class="card-body">
                <h5 class="card-title">Solution</h5>
                <p class="card-text">Some quick example text to build on the Solution and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</a>
                </div>
            </div>
            <div class="col-md-4" style="width: 18rem;">
                <svg width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8"/>
                </svg>
                <div class="card-body">
                <h5 class="card-title">Solution</h5>
                <p class="card-text">Some quick example text to build on the Solution and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark" style="background-color: #3c3c3c;">Read More</a>
            </div>
        </div>
        <div class="col-md-4" style="width: 18rem;">
            <svg width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8"/>
              </svg>
            <div class="card-body">
                <h5 class="card-title">Solution</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark"  style="background-color: #3c3c3c;">Read More</a>
            </div>
        </div>
    </div>
</div>

<div id="body2">  
    <div>
    <div id="div2" style="padding-top: 10%;" >누가 술을 마셔~</div>
    <div id="div3">친구가 술을 마실 때,<br>
        가만히 있을 수 없죠! 흥을 같이 돋우어 줍시다!
    </div>
        <svg id="button" width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
    </div>
</div>
</div>

<div id="body3"> 
    <div id="div4" style="padding-top: 10%;">어떤 게 궁금하신가요?</div>
    <div id="div7">술게임 미리 공부해볼까요?</div>
    <div class="row">
        <input id="div8" class="form-control" type="text" placeholder="Ex) 딸기게임" >
        <button id="button2" type="button" class="btn btn-dark" style="background-color: #3c3c3c;">검색하기</button>
    </div>
</div>
{%include 'footer.html'%}
{% endblock %}