{% extends "base.html" %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">list</h1>
    <hr>
    {% for content in contents %}
        <img src="{{content.image.url}}">
        <h3>{{content.title}}</h3>
        <div>간단 소개:{{content.summary}}</div>
        <div>난이도:{{content.difficulty}}</div>
        <div>좋아요 수 : {{content.like.all|length}}</div>
        {% if user in content.like.all %}
            <a href="{%url 'cancel' content.id%} ">좋아요 취소</a>
        {% else %}
            <a href="{%url 'like' content.id%} ">좋아요</a>
        {% endif%}
        <div>
        {% for tag in content.tag.all %}
            <a class="btn btn-secondary btn-sm" href="{% url 'tag' tag.id %}">#{{tag}}</a>
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <div>
    <nav class="navbar navbar-dark" style="background-color: #404040;">
      <a class="navbar-brand" href="#">ALCOLPEDIA</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="what" href="{%url 'home' %}">HOME</a>
      <a class="what" href="{%url 'List' %}" onclick="navClicked()">술게임</a>
      <a class="what" href="#">폭탄주</a>
      <a class="what" href="#">게시판</a>
      <a class="what" href="#">건의하기</a>
      <button type="button" class="btn btn-secondary btn-sm" href="#">sign in</button>
      <button type="button" class="btn btn-secondary btn-sm"href="#">sign up</button>
    </nav>
</div>

<div>
  <img src="{% static 'game.png' %}" class="img">
</div>


<div class="top2">
  <button  class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <p style="color: #8b8b8b; font-family:NotoSans;">난이도 ▼
  </button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">★</a>
      <a class="dropdown-item" href="#">★★</a>
      <a class="dropdown-item" href="#">★★★</a>
    </div>
  <button  class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <p style="color: #8b8b8b; font-family:NotoSans;">태그 ▼
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">#저격</a>
      <a class="dropdown-item" href="#">#무적</a>
      <a class="dropdown-item" href="#">#눈치</a>
    </div>

  <button  class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <p style="color: #8b8b8b; font-family:NotoSans;">최신순 ▼
  </button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">일주일</a>
      <a class="dropdown-item" href="#">1개월</a>
      <a class="dropdown-item" href="#">3개월</a>
    </div>
</div>
<hr style="border:inset 1px white;">

<div class="container">
  <div class="card">
    <img src="{% static 'sullicon.png' %}">
    <hr>
    title: <br>
    ★
    <div class="container2">
      <div class="card2"></div>
      <div class="card2"></div>
      <div class="card2"></div>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'sullicon.png' %}">
    <hr>
    title: <br>
    ★
    <div class="container2">
      <div class="card2"></div>
      <div class="card2"></div>
      <div class="card2"></div>
    </div>
  </div>

  
  <div class="card">
    <img src="{% static 'sullicon.png' %}">
    <hr>
    title: <br>
    ★
    <div class="container2">
      <div class="card2"></div>
      <div class="card2"></div>
      <div class="card2"></div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}