{% extends "base.html" %}
{% block content %}
    <h1 style="text-align: center;">list</h1>
    <hr>
    {% for content in contents%}
        <img src="{{content.image.url}}">
        <h3>{{content.title}}</h3>
        <div>간단 소개:{{content.summary}}</div>
        <div>난이도:{{content.difficulty}}</div>
        <div>좋아요 수 : {{content.like.all|length}}</div>
        {% if user in content.like.all %}
            <a href="{%url 'cancel' content.id%} ">좋아요 취소</a>
        {% else %}
            <a href="{%url 'like' content.id%} ">좋아요</a>
        {% endif%}
        <hr>
    {% endfor %}
{% endblock %}