{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}  
    <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4 col-4"></div>
        <h2 class="border border-light col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4" style="text-align: center; margin-top: 9rem;">Search</h2>
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4 col-4"></div>
    </div>
    <form action="{%url 'search'%}" class="formclass">
    <form class="formclass">
        <div class="chips">
            <input class="chipsInput">
            <button id="searchButton" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 col-2"></div>
        <div class="border border-light2 col-lg-8 col-md-8 col-sm-6 col-xs-8 col-8">
        {% for content in contents %}
            <div class= "row" style = "margin-bottom: 2rem;">
                {% if content.image %}
                    <img class = "col-lg-5 col-md-5 col-sm-12 col-12"src="{{content.image.url}}">
                {% else %}
                    <div class = "col-lg-5 col-md-5 col-sm-12 col-12" style="height: 15rem; text-align: center;  border: solid 1px white;">
                        <i class="far fa-image" style="font-size: 8rem; line-height: 15rem;"></i>
                    </div>
                {% endif %}
                <div class="content col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="row">
                        <p class = "col-12"></p>
                    </div>
                    <div class="row">
                        <span class = "col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 style="display:inline;">{{content.title}}</h3>
                            ({{content.get_sort_display}})
                        </span>
                    </div>
                    <div class="row">
                        <span class = "col-lg-5 col-md-12 col-sm-12 col-12" style="font-size: 1.3rem;"> 난이도 : 
                            <script>
                                for(var i = 0; i < {{content.difficulty}}; i++) {
                                    document.write("★");
                                }
                                for(var i = 0; i < 3 - {{content.difficulty}}; i++) {
                                    document.write("☆");
                                }
                            </script>
                        </span> 
                        <a class = "align-middle col-lg-7 col-md-12 col-sm-12 col-12 like" id = "like-text-{{content.id}}" name={{content.id}} style="color: white; font-size: 1.3rem;">
                            {% if user in content.like.all %}
                                <svg width="1em" height="0.8em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg> : {{content.like.all|length}}
                            {% else %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg> : {{content.like.all|length}}
                            {%endif%}
                        </a>  
                    </div>
                    <div class="row">
                        <p class = "col-lg-12 col-md-12 col-sm-12 col-12">
                            {{content.summary}}
                        </p>
                    </div>
                    <div class="row">
                        {% for tag in content.tag.all %}
                            <a class="btn" href="{% url 'tag' tag.id %}"><U style="color: white;">#{{tag}}</U></a>
                        {% endfor %}
                    </div>

                    <div class="row">
                        {% if content.sort == 'bgm' %}
                            <audio controls = "controls" id = "audio-{{content.title}}" class = "align-middle audio-style col-lg-10 col-md-12 col-sm-12 col-12">
                                <source src = "{{content.audio.url}}"/>
                            </audio>
                        {% elif content.sort == 'game' %}
                            <p class = "col-lg-12 col-md-12 col-sm-12 col-12"> 
                                <button type="button" style="margin-top:0.5rem; background-color: black; border:1px solid white; color: white;" class="btn" onclick='moveDetail( "{% url "detail" content.id %}" )'>
                                    자세히 보러가기
                                </button>
                            </p>
                        {% elif content.sort == 'alcohol' or content.sort == 'cheers' or content.sort == 'setting' %}
                            <p class = "col-lg-12 col-md-12 col-sm-12 col-12"> 
                                <button type="button" style="margin-top:0.5rem; background-color: black; border:1px solid white; color: white;" class="btn" data-toggle="modal" data-target="#modal-{{content.id}}">
                                    자세히 보기
                                </button>
                            </p>
                        {% endif %}
                        <div class="modal" id = "modal-{{content.id}}" data-keyboard="false" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content" style="color:#303030; background-color:rgba(226, 224, 224, 0.897); border:2px solid #494848; font-size: 1.5rem;">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">{{content.title}} <i class="fas fa-mouse-pointer"></i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                        <div class="modal-body">
                                            {{content.body | markdown}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">닫기</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 col-2"></div>
    </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(".like").click(function () {
        var content_id = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: { 'content_id': content_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                var cnt = response.like_count * 1;
                if(response.isLiked) {
                    $("#like-text-" + content_id).html('<svg width="1em" height="0.8em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>\
                        </svg> : '+cnt+' &nbsp; {{content.title}}');
                }
                else {
                    $("#like-text-" + content_id).html('<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\
                    </svg> : '+cnt+' &nbsp;');
                }
            },
            error: function (request, status, error) {
                alert("로그인이 필요합니다.")
                //window.location.replace("/account/login/")
            },
        });
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function moveDetail(url) {
        window.location.href = url;
    }

    var searchs = [];
    var prevText = "";

    
    $(window).on('load',function() {
        var searchedWords = ""+decodeURIComponent("{{search_words}}");
        searchedWords = searchedWords.replace(/&#x27;/gi,"");
        searchedWords = searchedWords.substr(1, searchedWords.length-2).split(",");
        var elem = document.querySelectorAll('.chips')[0];
        var instance = M.Chips.getInstance(elem);

        for(var i = 0; i < searchedWords.length; i++) {
            console.log(searchedWords[i].trim());
            instance.addChip({
                tag: searchedWords[i].trim(),
            });
        }
    });   

    $('.chips').chips({
        placeholder: '검색어를 입력해주세요.',
    });
    
    function tagSelected(e){
        var text = $(e).text();
        
        var elem = document.querySelectorAll('.chips')[0];
        var instance = M.Chips.getInstance(elem);

        instance.addChip({
            tag: text,
            image: '', // optional
        });
    }

    $("#searchButton").on("click", function(e) {
        var words = M.Chips.getInstance($('.chips')).chipsData;
        var searchWords = "?";
        for(var i = 0; i < words.length; i++) {
            searchWords+="search_word="+encodeURIComponent(words[i]['tag']);
            if(i != words.length-1) {
                searchWords += "&";
            }
        }
        var param = encodeURI(searchWords);
        document.location.href = "{%url 'search' %}" + param;
    });

</script>
{% endblock %}