
body{
    background-image: url('neon_profile.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.background-crop {
    max-height: 100rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 20vw;
}



.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 4px solid black;
    background-color: #797979;
}

.profile-image-box {
    text-align: center;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    display: inline-block;
    margin-top: -4rem;
}

.profile-image img {
    display: block;
}

.profile-image-edit {
    font-size: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 9rem;
    width: 9rem;
    border-radius: 4.5rem;
    cursor: pointer;
    visibility: hidden;
    background-color: #bbbbbb;
    opacity: 70%;
}
.profile-image-edit i{
    color: rgb(46, 46, 46);
    line-height: 9rem; 
    opacity: 100%;
}

.profile-name-box {
    text-align: center;
    margin-top: 1rem;

}

.profile-modify-button {
    float: right;
    margin-right: 2rem;
    margin-top: -4rem;
}

.profile-content {
    color: #ffffff;
}
h3{
    font-family:'NEXON Lv1 Gothic OTF';
    font-size: 2rem;
    text-shadow: 1px 1px 8px #000;
}
.input-name {
    width: 20%;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.bookmark-content{
    
    justify-content: center;
}

#bookmark_a{
    color: white;
    text-decoration-line: none;
    border: 1px solid #ffffff;
    border-radius: 1em;
    background-color: black;
    text-align: center;
    width: 70%;
    margin-left: 10vw;
}

#bookmark_a:hover(.active){
    background-color: rgb(255, 255, 255);
    text-decoration-line: none;

}

#bookmark_a:hover:not(.active){
    color: black;
    background-image: linear-gradient(to bottom, #7dffcb, #b7ff80);
}

/* .list-group-item{
    background-color: black;
    border: 1px solid #ffffff;
}
.list-group-item:hover:not(.active){
    background-color:#ddd;
    color: black;
} */