.background-crop {
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.background-crop img {
    width:100%;
    min-height: 45rem;
    height: auto;
    margin: -20rem 0 0 0;
}

.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 4px solid black;
    background-color: #797979;
}

.profile-image-box {
    text-align: center;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    display: inline-block;
    margin-top: -4rem;
}

.profile-image img {
    display: block;
}

.profile-image-edit {
    font-size: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 9rem;
    width: 9rem;
    border-radius: 4.5rem;
    cursor: pointer;
    visibility: hidden;
    background-color: #bbbbbb;
    opacity: 70%;
}
.profile-image-edit i{
    color: rgb(46, 46, 46);
    line-height: 9rem; 
    opacity: 100%;
}

.profile-name-box {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 40rem;
}

.profile-modify-button {
    float: right;
    margin-right: 2rem;
    margin-top: -4rem;
}

.profile-content {
    background-color: black;
    color: white;
}

.input-name {
    width: 20%;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}