.member-box{
    border-radius: 0.5rem;
    padding-bottom: 8%;
    padding-top:5%;
    color: white;
    font-size: 1.25rem;
}

img{
    float:right;
    margin-bottom: 20%;
    width:40%;   
}

button{
    color:white;
}

.login-box {
    padding-top: 8rem;
    min-height: 50rem;
}