#one{
    margin-left: 60%;
    background-repeat: none;
    align-items: flex-start;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
  
}
.two{
    
    border-radius: 0.5rem;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 8%;
    padding-top:5%;
    margin-top: 7%;
    color: white;
    font-size: 1.25rem;
}
img{
    float:left;
    width:25%;
    margin-left:25%;
    margin-top: 1%;

    
}
body{
    background-image:url('bar2.jpg');
    background-size: cover;
    background-repeat: none;
}

