.member-box{
    border-radius: 0.5rem;
    color: black;
    font-size: 1.25rem;
 
}

img{
    float:right;

    width:40%;   
}

button{
    color:white;
}

.login-box {
    margin-top: -25rem;
    min-height: 50rem;
}

input {
    width: 90%;
}
body{
    background-image: linear-gradient(to bottom, #4b8c69, #0e0e0e 33%, #4b8c69 42%, #0e0e0e 52%, #4b8c69);
    background-size: cover;
    background-repeat: none;
}
#one{
    border-radius: 1rem ;
    background-color: rgba(255, 255, 240, 0.377);
}
.bottle01 {
    width: 180px;
    height: 500px;
    margin: 50px 100px 0 248px;
    border-radius: 129px;
    position: relative;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }

  .bottle02 {
    width: 80px;
    height: 300px;
    margin: 0 0 0 500px;
    position: absolute;

    border-radius: 129px;
    background-image: linear-gradient(to bottom, #ddffc5, #b8f9be 47%, #fe619f);
  }

  .bottle03 {
    width: 100px;
    height: 200px;
    margin: -500px 40px 0 900px;
    border-radius: 129px;
    position: relative;

    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }
  .bottle04 {
    width: 122px;
    height: 274px;
    margin: 50px -140px 0 1200px;
    border-radius: 129px;
    position: relative;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
    opacity: 70%;
}
#sign_up:hover:not(.active){
    color: black;
    background-image: linear-gradient(to bottom, #7dffcb, #b7ff80);
}
