{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="background-crop">
        <img src="{% static 'drink2.jpg' %}" >
        <h3 class = "top-bar-title">
            술은 섞을수록 더 단 법
        </h3>
    </div>
    
    <div class="container">
        <div class="card-columns col-12">
        {% for content in posts %}
            <div class="card" >
                <img src="{{content.image.url}}" style="width: 100%;">
                <hr>
                <h4 style="font-family: 'NEXON Lv2 Gothic Bold';">
                    {{content.title}}
                </h4>
                <hr style="border:1px solid white">
                <p style="font-family: 'NEXON Lv1 Gothic OTF';">
                    {{content.summary}}
                </p>
                <svg width="2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg> : {{content.like.all|length}}<br>
                <button type="button" style="margin-top:0.5rem; background-color: black; border:1px solid white;" class="btn" data-toggle="modal" data-target="#modal-{{content.id}}">
                    자세히 보기
                </button>
            </div>
            <div class="modal" id = "modal-{{content.id}}" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">{{content.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                        <div class="modal-body">
                            {{content.body | markdown}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}