{% extends "base.html" %}
{% block content %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'bgm.css' %}">
{% endblock %}
    {% include 'nav.html' %}
    <div id="div5" style="padding-bottom: 100%;">
        <img src="{% static 'BGM최종.png' %}" style="width: 100%;">

        <div class="container">
            <div class="row justify-content-between">
            {% for content in posts %}
                <div class="container-md">
                    <p class = "text"> 
                        {{content.title}}
                    </p>
                    <button onclick= "playMusic('{{content.audio.url}}')">
                        재생
                    </button>

                    <button onclick="stopMusic()">
                        정지
                    </button>
                </div>
            {% endfor %}
            </div>
        </div>


        <nav aria-label="..." class="nav_style">
            <div class="pagination_wrapper" style="text-align: center;">
                <ul class="pagination">
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.previous_page_number}}&page_cnt=10" tabindex="-1"
                            aria-disabled="false">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% endif %}
                    {% for i in range %}
                    {% if i == posts.number  %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{i}}&page_cnt=10"> {{i}} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}&page_cnt=10">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.next_page_number}}&page_cnt=10">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}
        
                </ul>
            </div>
        </nav>
    </div>

    
    

    <script>
        var audio = new Audio();
        function playMusic(url) {
            audio.src = url;
            audio.play();
        }

        function stopMusic() {
            audio.pause();
        }
    </script>
{% endblock %}