{% extends "base.html" %}
{% load static %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'cheers.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="background-crop">
        <img src="{% static 'cheers.jpg'%}">
        <h3 class = "top-bar-title" style="width: 100%; text-align: center;">
            그대의 눈동자에 Cheers
        </h3>
    </div>
    <div class="container">
        <div class="accordion" id="accordionExample">
        {% for content in posts %}
            <div class="card">
              <div class="card-header" id="heading{{content.title}}">
                <h2 class="mb-0">
                  <button class="btn btn-outline-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{content.title}}" aria-expanded="true" aria-controls="collapse{{content.title}">
                    <ol style="list-style-type: inherit;">
                         <li>{{content.title}}</li>
                    </ol>
                  </button>
                </h2>
              </div>
          
              <div id="collapse{{content.title}}" class="collapse" aria-labelledby="heading{{content.title}}" data-parent="#accordionExample">
                <div class="card-body">
                  {{content.summary}}
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>

   
    
{% endblock %}