{% extends "base.html" %}
{% load static %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'cheers.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="background-crop">
    <img src="{% static 'cheers.jpg'%}">
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle"  type="button" id="dropdownMenu2" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
        style="color: white;">
          1.  아우디
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">아줌마들의 우정은 디질때까지</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle"  type="button" id="dropdownMenu2" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
        style="color: white;">
          2.  한잔하지~질수없지~
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">한잔하지~질수없지~ 싹~ 묵자~</button>
        </div>
    </div>
     <br>
        
   
    
{% endblock %}