{% extends "base.html" %}
{% load static %}
{% block title%} 
    {{title}}
{% endblock %} 
{% load markdown_deux_tags %}
{% block content %}
{% include 'nav.html' %}
<link rel="stylesheet" href="{% static 'detail.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'slick/slick.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}?v=1.0">
<div class="first">
    {{content.title}}
</div>
<p style="text-align: center; font-size: 40px; color:#b7ff80;">
    <script>
        for(var i = 0; i < {{content.difficulty}}; i++) {
            document.write("★")
        }
        for(var i = 0; i < 3-{{content.difficulty}}; i++) {
            document.write("☆")
        }
    </script>
</p>
<div class="second">
    {% for tag in tags %}
        <div class="second_baby"># {{tag}}</div>
    {% endfor %}
</div>
<hr style="width: 40%; background-color: white;">
<div>
    <br><br><br>
    
    {% if content.audio %}
    <div class="audio">
        <audio controls = "controls" id = "audio-{{content.title}}" class = "align-middle audio-style">
            <source src = "{{content.audio.url}}"/>
        </audio>
    </div>
    {% endif %}
    <div class="third" style="border: 1px solid #72e9a0; border-radius: 3rem;">
        게임방법
        <!-- {{content.people_number}} -->
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 col-1"></div>
        <div class="forth col-lg-8 col-md-8 col-sm-10 col-xs-10 col-10">
            <!-- <div class="forth_baby" style="text-align: right;">{{content.image}} 이미지</div> -->
            <div class="detail-content-body">{{content.body | markdown }}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 col-1"></div>

    </div>
    <div class="reccomend">
        이 게임들은 어때요?
    </div>
</div>
<div class="slider">
{% for r_content in recommend_contents %}
        {% if r_content.id != content.id%}
        <div>
        <a href="{% url 'detail' r_content.id %}"><img style="width:100px; height:90px;margin: 0 auto;" src="{{r_content.image.url}}"></a>
        </div>
        {% endif%}
{% endfor %}
</div>
<a href="{%url 'article'%}?name=game" style="color:white; text-align: center;text-decoration: none;margin-bottom:">
    <div class="back_game">목록으로 돌아가기</div>
</a>
{% endblock %}

{% block script%}

<script type="text/javascript" src="{% static 'slick/slick.js' %}"></script>
<script>
    $(function () {
        $('.slider').slick({
            slide: 'div',		//슬라이드 되어야 할 태그 ex) div, li 
            infinite: true, 	//무한 반복 옵션	 
            slidesToShow: 4,		// 한 화면에 보여질 컨텐츠 개수
            slidesToScroll: 1,		//스크롤 한번에 움직일 컨텐츠 개수
            speed: 1000,	 // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
            arrows: true, 		// 옆으로 이동하는 화살표 표시 여부
            autoplay: true,			// 자동 스크롤 사용 여부
            autoplaySpeed: 3000, 		// 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
            pauseOnHover: true,		// 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
            vertical: false,		// 세로 방향 슬라이드 옵션
            prevArrow: "<button type='button' class='slick-prev'>Previo</button>",		// 이전 화살표 모양 설정
            nextArrow: "<button type='button' class='slick-next'>Next</button>",		// 다음 화살표 모양 설정
            dotsClass: "slick-dots", 	//아래 나오는 페이지네이션(점) css class 지정
            draggable: true, 	//드래그 가능 여부 

            responsive: [ // 반응형 웹 구현 옵션
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1
                    }
                },
            ]

        });
    })
</script>
{% endblock %}