{% extends "base.html" %}

{% load static %}
{% block title%} 
    {{title}}
{% endblock %} 
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'list.css' %}?v=1.0">
{% endblock %}
{% block content %}
<hr>

<hr>

{% include 'nav.html' %}

<div class = "background-crop" style="text-align: center;">
    <img src="{% static '술게임2.jpg' %}" style="margin: -5rem 0 0 0;">
    <h3 class = "top-bar-title" style="width: 100%; text-align: center;">
        &nbsp 어찌.. 한 판 하시겠소?
    </h3>
</div>


<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8" id="filter">
        <div style="display:inline;margin-right: 1rem;">
            <button class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% if difficulty and difficulty != '0' %}
                    <div style="color: #646262; font-family:NotoSans;">{{difficulty}}</div>
                {% else %}
                    <div style="color: #8b8b8b; font-family:NotoSans;">난이도 ▼</div>
                {% endif %}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'filter'%}?difficulty=1&tag={{tag}}&date={{date}}">★</a>
                <a class="dropdown-item" href="{% url 'filter'%}?difficulty=2&tag={{tag}}&date={{date}}">★★</a>
                <a class="dropdown-item" href="{% url 'filter'%}?difficulty=3&tag={{tag}}&date={{date}}">★★★</a>
            </div>
        </div>
        <div style="display:inline; margin-right: 10rem;">
            <button class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="game_date">
                {% if date != '0' and date %}
                    <div style="color: #8b8b8b; font-family:NotoSans;">{{date}}일</div>
                {% else %}
                    <div style="color: #8b8b8b; font-family:NotoSans;">날짜순 ▼</div>
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'filter'%}?date=7&tag={{tag}}&difficulty={{difficulty}}">일주일</a>
                <a class="dropdown-item" href="{% url 'filter'%}?date=30&tag={{tag}}&difficulty={{difficulty}}">1개월</a>
                <a class="dropdown-item" href="{% url 'filter'%}?date=90&tag={{tag}}&difficulty={{difficulty}}">3개월</a>
            </div>
        </div>

        {% for tag in tags %}
                <a class="tag" style="margin-left:10px;color: #707077; text-align: center;" href="{% url 'filter' %}?tag={{tag}}&date={{date}}&difficulty={{difficulty}}" >#{{tag}}</a>
        {% endfor %}

        <div style="display: inline;margin-left: 20px;">
            <button class="starbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div style="color: #8b8b8b; font-family:NotoSans;">▼</div>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for tag in all_tags%}
                    <a class="dropdown-item" href="{% url 'filter'%}?date={{date}}&tag={{tag}}&difficulty={{difficulty}}">#{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2"></div>
</div>

<hr style="border:inset 1px white;">

<section class="cards container" style="margin-top:5rem;">
    {% for content in posts %}
    <div class="card_blank"></div>
    <div class="card_">
        <div class="card__image-container" onclick="moveDetail('{% url 'detail' content.id %}')">
            <img src="{{content.image.url}}">
        </div>
        <a class="bookmark" id="bookmark-text-{{content.id}}" name={{content.id}} style="color: white; position:absolute;right: 2rem;">
            {% if user in content.bookmark.all %}
            <i class="fas fa-bookmark"></i>
            {% else %}
            <i class="far fa-bookmark"></i>
            {%endif%}
        </a>
        <div class="card__content">
            <p class="card_title text-medium" onclick="moveDetail('{% url 'detail' content.id %}')">
                {{content.title}}
            </p>
            <div style="display: inline; color: white;" onclick="moveDetail('{% url 'detail' content.id %}')">
                <script>
                    for (var i = 0; i < {{ content.difficulty }}; i++) {
                        document.write("★")
                    }
                    for (var i = 0; i < 3 - {{ content.difficulty }}; i++) {
                        document.write("☆")
                    }
                </script>
            </div>
        </div>
        <div class="card__info" style="margin-left:2vw;">
            <a class="align-middle col-lg-3 col-md-3 col-sm-3 col-3 like" id="like-text-{{content.id}}" name={{content.id}} style="color: white; padding:0;">
                {% if user in content.like.all %}
                <i class="fas fa-heart"></i> : {{content.like.all|length}}
                {% else %}
                <i class="far fa-heart"></i> : {{content.like.all|length}}
                {%endif%}
            </a>
            <br>
            {% for tag in content.tag.all %}
                <a class="btn" href="{% url 'tag' tag.id %}" style="padding-left:0"><U style="color: white; ">#{{tag}}</U></a>
            {% endfor %}
        </div>
        
    </div>
    <div class="card_blank"></div>
    {% endfor %}
</section>


<nav aria-label="..." class="nav_style">
    <div class="pagination_wrapper" style="text-align: center; margin-top: 10%;"> 
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-white" href="?name=game&page={{posts.previous_page_number}}&page_cnt=10" tabindex="-1"
                    aria-disabled="false">Pre</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-white" href="" tabindex="-1" aria-disabled="true">Pre</a>
            </li>
            {% endif %}
            {% for i in range %}
            {% if i == posts.number  %}
            <li class="page-item active" aria-current="page">
                <a class="page-white" href="?name=game&page={{i}}&page_cnt=6"> {{i}} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-white" href="?name=game&page={{i}}&page_cnt=6">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-white" href="?name=game&page={{posts.next_page_number}}&page_cnt=6">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-white" href="">Next</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block script %}

<script>
    function moveDetail(url) {
        window.move
        window.location.href = url;
    }

    $(".bookmark").click(function () {
            var content_id = $(this).attr('name');
            $.ajax({
                type: "POST",
                url: "{% url 'bookmark' %}",
                data: { 'content_id': content_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    if (response.isBookmarked) {
                        $("#bookmark-text-" + content_id).html('<i class="fas fa-bookmark"></i>');
                    }
                    else {
                        $("#bookmark-text-" + content_id).html('<i class="far fa-bookmark"></i>');
                    }
                },
                error: function (request, status, error) {
                    alert("로그인이 필요합니다.")
                    //window.location.replace("/account/login/")
                },
            });
        })

    $(".like").click(function () {
        var content_id = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: { 'content_id': content_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                var cnt = response.like_count * 1;
                if (response.isLiked) {
                    $("#like-text-" + content_id).html('<i class="fas fa-heart"></i> : '+ cnt + ' &nbsp; {{content.title}}');
                }
                else {
                    $("#like-text-" + content_id).html('<i class="far fa-heart"></i> : '+ cnt + ' &nbsp;');
                }
            },
            error: function (request, status, error) {
                alert("로그인이 필요합니다.")
                //window.location.replace("/account/login/")
            },
        });
    })
</script>

{% endblock %}

