<!DOCTYPE html>

<html lang="en">
<!-- {% load crispy_forms_tags %} -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>

<body>
    <!-- {{ form|crispy }} -->
    <form method="post">
        {% csrf_token %}
        username: <input type="text" name="username" id="username">
        password: <input type="password" name="password" id="password">
        <input type="submit" value="Sign In">
    </form>
    
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label><br>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>

</html>


