{% extends "base_no_footer.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'sign_up.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}

    <div class="two">
        
        <form method="post">
            <div id="one" class="border border-light">
            {% csrf_token %}
            username <br> {{ form.username }}<br><br>
            password <br> {{ form.password }}<br><br>
            confirm password <br> {{ form.confirm_password }}<br><br>
            <input type="submit" value="Sign up" class="btn btn-outline-light" style="margin-left: 48%;, padding-top: 3%;">
            </div>
  
        </form>
    </div>   
{% endblock %}