
{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'sign_in.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="two">
        <form method="post">
            <div id="one" class="border border-light">
            {% csrf_token %}
            username <br>{{ form.username }}<br>
            <br>
            password <br><input type="password">
            <br><br><br>
            <input type="submit" value="Sign In" class="btn btn-outline-light" style="margin-left: 50%;">
            </div>
            
        </form>
    </div>
{% endblock %}
