
{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'sign_in.css' %}">
{% endblock %}
{% block content %}
    {% include 'nav.html' %}
    <div class="two">
        <form method="post">
            <div class="one" >
            {% csrf_token %}
            <img src="https://images.unsplash.com/photo-1494962227006-107baac595eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">
            <br>
            username <br>{{ form.username }}<br>
            <br>
            password <br>{{ form.password }}
            <br><br><br>
            <input type="submit" value="Sign In">
            </div>
            
        </form>
    </div>
{% endblock %}
