.footer_container{
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5vw;
    margin-right: 5vw;

}

.footer_container2{
    width:100%;
    height: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 5%;
}

.footer_content {
    color : #737373;
}

.footer_menu {
    color : #BDBDBD;
}

@media screen and (min-width: 851px) {
    .footer_menu {
      font-size: 2rem;
      
    }

    .footer_content {
      font-size: 1.3rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
    .footer_menu {
      font-size: 1.5rem;
      
    }

    .footer_content {
      font-size: 1.1rem;
    }
}
  
@media screen and (max-width: 600px) {
.footer_menu {
    font-size: 1rem;
    }

.footer_content {
    font-size: 0.8rem;
    }
}
