.navbar{
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;
}

.what{
    font-size: 0.5em;
    color:white!important;
    text-align:center;    
}

.modal-backdrop { z-index: 0; }

.what:hover {
    text-decoration-line: none;
    color:grey!important;
}

.modal-content {
    background-color: #707070;
    color: white;
}
.nav-bar-vertical-align-middle li{
    line-height: 2.5rem;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.nav-dropdown-menu a {
    text-decoration-line: none;
}
