#div5{
    background-color: #3d3d3d;
}
.container{
    background-color: #fbfbfb;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 5%;
}

.text-left{
    background-color: #fbfbfb;
    color: #3b3b3b;
    padding-bottom: 5%;
    padding-left: 5%;
}