.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;
    background-color: #404040;
}
.image_box{
    height: 40rem;
    width: 100%;
    margin: 0 auto;
}


.font{
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
img{
    height: 13%;
    width: 8%;
}

.formclass{
    margin: 3rem auto -2rem;
    width:54.8%;
    text-align: center;
}


.button{
    width:25%;
    height:50%;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #333333;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hell{
    margin-top: 1%;
    margin-left: 28%;
    margin-right: 22%;
    padding-top: 3%;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.addition-box-button {
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    background-color: #000000; 
    border:1px solid #ffffff;
}

.button3{
    height: 100%;
    width: 12%;
    border: solid 1px #707070;
    background-color: #707070;
    border-radius: 10px;
    margin-right: 6.5%;
    padding: 0.85%;
    color: white;
}



.hell2{
    height: 5.5%;
    margin-top: 1%;
    margin-left: 21%;
    margin-right: 14%;
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
}

.what{
    font-size: 0.5em;
    color:white;
}


.what:hover {
    color:grey;
}

.box {
    height: 37.8%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    border-right:1px;
    border-right-color: white;
}

#box1 { 
    visibility: hidden;
    position: fixed;
    top: 12.6%;
    background-color: #404040;
    opacity: 90%;
}

.col-sm{
    padding:0;
    text-align:center;
    color: white;
    border-right: white;
}

.tag_box {
    position: fixed;
    align-content: center;
    text-align: center;
    margin-top: 4rem;
    white-space: nowrap;
    padding: 0 5rem 0 5rem;
}

body{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.gredient{
    height: 300px;
    background: linear-gradient( to bottom, #000000, #707077 );
}

.section-title{
    color: white;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 9rem;
}

.circle-player {
    background-color: black;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.circle-player i {
    color: white;
    font-size: 4.5rem;
    content: '';
    position: absolute;
    left: 3.3rem;
    top: 2.5rem;
}

.wrapper{
    position: relative;
}

#myVideo {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#section-game .slick-slide {
    height: 30rem!important;
}

#section-game .slick-slide:hover {
    transform: scale(1.1);
    transform-origin: top center;
    vertical-align: middle;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.6); */
} 


#myVideo_bgm {
    width: 100%;
    min-height: 50rem;
    height:auto;
}

.card{
    width: 18rem;
    background : none;
    color:white;
    border: 1px solid white;
    font-family: 'NEXON Lv1 Gothic OTF';
    flex:1;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.card_container{
    display: flex;

}


#div1 {
    font-family: NotoSans;
    font-size: 32px;
    color:#ffffff;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;

}

.game{
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 3rem;
    color : #000000
}

.bgm {
    position: absolute;
    top:2rem;
    right: 0;
    left: 0;
    bottom: 0;
    color : #000000
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
    
.btn-primary:active:hover {
    background-color: #3d3d3d;
}
#div2 {
    font-family: NotoSans;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}
    
#div3 {
    padding-top: 1rem;
    font-family: NotoSans;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}
    
#button {
    position: absolute;
    top: 19rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button2 {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

    
#pattern {
    background: repeating-linear-gradient(45deg, rgba(68, 68, 68, 0.082), rgba(68, 68, 68, 0.103) 10px, rgba(136, 136, 136, 0.103) 0, rgba(136, 136, 136, 0.096) 20px);
}

#body2{
    width: 100%;
    background-image: url('오렌지게임.png');
}

#alcol_bgm_background{
    background: url('왕게임.png');
}
       
       
#p7{
    font-family: NotoSans;
    font-size: 1.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
}

#div8{
    border: solid 2px #3e3e3e;
    background-color: #ffffff;
}

.container5 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    min-height: 60rem;
    height: auto;
}

#section-game {
    min-height: 40rem;
    height: auto;
}

#section-game-represent {
    margin-top:5rem;
}

#section-bgm {
    margin-top: 2rem;
    padding-top:8rem;
    min-height: 40rem;
    height: auto;
}

.game > h5,.game >  p,.game > a {
    font-weight: bold;
    text-shadow: none;
}


#section-bgm-represent {
    margin-top:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.chips {
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 8px 0;
    min-height: 45px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.chips .input {
    background: none;
    border: 0;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    outline: 0;
    margin: 0 0 0 1rem;
    padding: 0 !important;
    width: 200px !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.chip:focus {
    background-color: #26a69a;
}

#searchButton {
    position: absolute;
    top:50%;
    right: 0.2rem;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
}

.chips {
    border-radius: 1rem;
}

/* .background-crop {
    max-height: 40rem;
    height: auto;
    width: 100%;
    background-color: black;
    padding-bottom: 20rem;
} */

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -10rem 0 0 0;
    z-index: 999;
    opacity: 0.5;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 5;
}

.home-main_logo{
    transform: translate(0%,-120%);
}

.home-main_logo_fixed{
    display: none;
}

@media screen and (min-width: 1450px){
    
    .home-main_logo{
        transform: translate(0%,-200%);
    }
} 

