.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;
    background-color: #404040;
}
.image_box{
    height: 40rem;
    width: 100%;
    margin: 0 auto;
}

.first{
    margin-bottom: 3%;
    padding-top: 5%;
}

.font{
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
img{
    height: 13%;
    width: 8%;
}
.formclass{
    width:54.8%;
    height:7.6%;
    margin-left: 22.6%;
}


.button{
    width:25%;
    height:50%;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #333333;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hell{
    margin-top: 1%;
    margin-left: 28%;
    margin-right: 22%;
    padding-top: 3%;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.addition-box-button {
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    background-color: #000000; 
    border:1px solid #ffffff;
}

.button3{
    height: 100%;
    width: 12%;
    border: solid 1px #707070;
    background-color: #707070;
    border-radius: 10px;
    margin-right: 6.5%;
    padding: 0.85%;
    color: white;
}



.hell2{
    height: 5.5%;
    margin-top: 1%;
    margin-left: 21%;
    margin-right: 14%;
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
}

.what{
    font-size: 0.5em;
    color:white;
}


.what:hover {
    color:grey;
}

.box {
    height: 37.8%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    border-right:1px;
    border-right-color: white;
}

#box1 { 
    visibility: hidden;
    position: fixed;
    top: 12.6%;
    background-color: #404040;
    opacity: 90%;
}

.col-sm{
    padding:0;
    text-align:center;
    color: white;
    border-right: white;
}


.tag_box {
    align-content: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding:24px;
    width: 1000px;
    
}

.tag_box::-webkit-scrollbar {
    width: 10px;
}
.tag_box::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.tag_box::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

body{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.gredient{
    height: 300px;
    background: linear-gradient( to bottom, #000000, #707077 );
}

.section-title{
    color: white;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.circle-player {
    background-color: black;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.circle-player i {
    color: white;
    font-size: 4.5rem;
    content: '';
    position: absolute;
    left: 3.3rem;
    top: 2.5rem;
}

.wrapper{
    position: relative;
}

#myVideo {
    right: 0;
    top: 0;
    width: 120%;
    height: 90%;
}

#section-game .slick-slide {
    height: 30rem!important;
}

#section-game .slick-slide:hover {
    transform: scale(1.1);
    transform-origin: top center;
    vertical-align: middle;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.6); */
} 


#myVideo_bgm {
    width: 100%;
    min-height: 50rem;
    height:auto;
}

.card{
    width: 18rem;
    background : none;
    color:white;
    border: 1px solid white;
    font-family: 'NEXON Lv1 Gothic OTF';
    flex:1;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.card_container{
    display: flex;

}


#div1 {
    font-family: NotoSans;
    font-size: 32px;
    color:#ffffff;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;

}

.game{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 3rem;
}

.bgm {
    position: absolute;
    top:2rem;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
    
.btn-primary:active:hover {
    background-color: #3d3d3d;
}
#div2 {
    font-family: NotoSans;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}
    
#div3 {
    padding-top: 1rem;
    font-family: NotoSans;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}
    
#button {
    position: absolute;
    top: 19rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button2 {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

    
#pattern {
    background: repeating-linear-gradient(45deg, rgba(68, 68, 68, 0.082), rgba(68, 68, 68, 0.103) 10px, rgba(136, 136, 136, 0.103) 0, rgba(136, 136, 136, 0.096) 20px);
}

#body2{
    width: 100%;
    background-image: url('오렌지게임.png');
}

#alcol_bgm_background{
    background: url('왕게임.png');
}
       
       
#p7{
    font-family: NotoSans;
    font-size: 1.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
}
#div8{
    border: solid 2px #3e3e3e;
    background-color: #ffffff;
}

.container5 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    min-height: 60rem;
    height: auto;
}

#section-game {
    min-height: 40rem;
    height: auto;
}

#section-game-represent {
    margin-top:5rem;
}

#section-bgm {
    margin-top: 2rem;
    padding-top:8rem;
    min-height: 40rem;
    height: auto;
}

#section-bgm-represent {
    margin-top:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: 'DancingScript-VariableFont_wght';
    src: local('DancingScript-VariableFont_wght'),
        url('./DancingScript-VariableFont_wght.ttf') format("truetype");
}