body{
    background-color: black;
    color: white;
}
.border-light2{
    text-align: start;
    padding-top: 1.5%;
    background-color: black;
}
.formclass{
    text-align: center;
    margin: 1rem 9rem 2rem 9rem;
}

.chips {
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 8px 0;
    min-height: 45px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.chips .input {
    background: none;
    border: 0;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    outline: 0;
    margin: 0 0 0 1rem;
    padding: 0 !important;
    width: 200px !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.chip:focus {
    background-color: #26a69a;
}

#searchButton {
    position: absolute;
    top:50%;
    right: 0.2rem;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
}

.chips {
    border-radius: 1rem;
}