body{
    background-color: black;
    color: white;
}
.border-light2{
    text-align: start;
    padding-top: 1.5%;
    background-color: black;
}
.formclass{
    margin-bottom: 1.5%;
    text-align: center;
}