body {
    background-color: #000000;
    line-height: 2;
}

a.what {
    text-decoration : none;
    color:white;
}

#div5{
    text-align: center;
    background-color: #000000;
}

.audio-style {
    margin: 0;
    padding: 0;
}

.list-group-item {
    text-align: left;
}

.text{
    font-family: SegoeUI;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: start;
    color: #707070;
    padding-left: 20%;
}

.background-crop {
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -20rem 0 0 0;
}

.top-bar-title {
    color: white;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NEXON Lv1 Gothic OTF' ;
    font-size:30px;
}

.top-bar-sub-title {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-group-item{
    border-radius: 20px;
    background-color: black;
    border : 1px solid #ffffff;
}

.align-middle{
    font-family: 'NEXON Lv2 Gothic Bold';
    font-size: 25px;
}

.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3rem;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .active {
    background-color: white;
    border-radius: 3rem;   
}

.btn-outline-light{
    margin: 0.5em 0 0.5em 0;
}

/* audio::-webkit-media-controls-panel {

}

 audio::-webkit-media-controls-mute-button {

}

audio::-webkit-media-controls-play-button {

}

audio::-webkit-media-controls-timeline-container {

}

audio::-webkit-media-controls-current-time-display {

}

audio::-webkit-media-controls-time-remaining-display {

}

audio::-webkit-media-controls-timeline {

}

audio::-webkit-media-controls-volume-slider-container {

}

audio::-webkit-media-controls-volume-slider {

}

audio::-webkit-media-controls-seek-back-button {

}

audio::-webkit-media-controls-seek-forward-button {

}

audio::-webkit-media-controls-fullscreen-button {

}

audio::-webkit-media-controls-rewind-button {

}

audio::-webkit-media-controls-return-to-realtime-button {

}

audio::-webkit-media-controls-toggle-closed-captions-button {

} */


.modal-body img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}