body {
    width: 100%;
    height: auto;
    padding: 0 0 3px;
    background-image: linear-gradient(to bottom, #4b8c69, #0e0e0e 33%, #4b8c69 42%, #0e0e0e 52%, #4b8c69);
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;

}

.middle-container{
    text-align: center;
    border-radius: 3rem;
    padding: 1vw;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 25vw;
    text-size-adjust: inherit;
}
.middle-card{
    vertical-align: middle;
    text-align: center;
}

.card{
    position: inherit;
    background-color: none;
    vertical-align: middle;
    margin: 5vw 20.5vw;
    padding: 0 14vw;
}

/* .btn{
    padding-left: 50vw;
} */

.top-bar-title {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'InkLipquid';
    font-size: 30px;
}

ul.pagination{
    margin-bottom: 0;
}
.background-crop {
    margin-bottom: 4rem;
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -25rem 0 0 0;
}


.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #72e9a0;
    border-radius: 3rem;
}

.pagination a:hover:not(.active) {
    background-color: #72e9a0;
}

.pagination .active {
    background-color: #72e9a0;
    border-radius: 3rem;   
}

strong{
    font-weight: 1000;
    font-size: 1.1rem;
}

