body{
    background-color: #4B8C69;
}
.card{
    background-color: black;
    color: white;
    vertical-align: middle;
    margin: 0 4vw 0 4vw;
}
.card-color{
    color:white;
}
.btn-outline-light{
    padding-left: 14%;
}
.card-body{
    padding-left: 10vw;
}
.top-bar-title {
    color: white;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'InkLipquid';
    font-size: 30px;
}

.background-crop {
    padding-top:5rem;
    margin-bottom: 4rem;
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -20rem 0 0 0;
}

.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3rem;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

strong{
    font-weight: 1000;
    font-size: 1.1rem;
}

.pagination .active {
    background-color: white;
    border-radius: 3rem;   
}