body {
    width: 100%;
    height: auto;
    padding: 0 0 3px;
    background-image: linear-gradient(to bottom, #4b8c69, #0e0e0e 33%, #4b8c69 42%, #0e0e0e 52%, #4b8c69);
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;

}
ul{
    margin-bottom: 0;
}
.middle-container{
    text-align: center;
    border-radius: 3rem;
    padding: 1vw;
    margin-left: 40vw;
    margin-right: 40vw;
    text-size-adjust: inherit;

}
.middle-card{
    vertical-align: middle;
    text-align: center;
}

.card{
    position: inherit;
    background-color: none;
    vertical-align: middle;
    margin: 5vw 20.5vw;
 
}
#cheers_row{
    display: contents;
}

/* .btn{
    padding-left: 50vw;
} */

.top-bar-title {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 40px;
}

.background-crop {
    margin-bottom: 4rem;
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -25rem 0 0 0;
}

.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #72e9a0;
    border-radius: 3rem;
}

.pagination a:hover:not(.active) {
    background-color: #72e9a0;
}

.pagination .active {
    background-color: #72e9a0;
    border-radius: 3rem;   
}

strong{
    font-weight: 1000;
    font-size: 1.1rem;
}
.bottle01 {
    width: 180px;
    height: 500px;
    margin: 50px 100px 0 248px;
    border-radius: 129px;
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }

  .bottle02 {
    width: 80px;
    height: 200px;
    margin: 0 0 0 500px;
    position: absolute;
    border-radius: 129px;
    background-image: linear-gradient(to bottom, #ddffc5, #b8f9be 47%, #fe619f);
  }

  .bottle03 {
    width: 100px;
    height: 200px;
    margin: -600px 40px 0 900px;
    border-radius: 129px;
    position: relative;

    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }
  .bottle04 {
    width: 122px;
    height: 200px;
    margin: 0px -140px 0 1100px;
    border-radius: 129px;
    position: relative;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
    opacity: 70%;
}
