
.background-crop img{
    width: 100%;
    margin: -250px 0 0 0;
    margin-bottom: 3%;
}
body{
    background-color: black;
}
.card{
    background-color: black;
    color: white;
    padding: 1.3%;
    padding-bottom: 1.5%; padding-top: 1.5%;
    vertical-align: middle;
}
.card-color{
    color:white;
}
.btn-outline-light{
    padding: 1.3%;
    padding-left: 14%;
}
.card-body{
    padding-left: 20%;
}