@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        
.background-crop {
    padding-top:8rem;
    max-height: 30rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: -25rem 0 0 0;
}

body{
    background-color: black;
}

.top-bar-title {
    color: white;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NEXON Lv1 Gothic OTF';
}

.card{
    background-color: black;
    border: 1px solid white;
    margin-top : 30px;
    color: white;
    padding-left: 10px;
    padding-top: 3px;
}

.btn{
    color: white;
    margin-bottom: 3px;
}

