      
body {
    width: 100%;
    height: auto;
    padding: 0 0 3px;
    background-image: linear-gradient(to bottom, #4b8c69, #0e0e0e 33%, #4b8c69 42%, #0e0e0e 52%, #4b8c69);
}

ul{
    margin-bottom: 0;
}
.top-bar-title {
    color: white;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 40px;
}



.card{
    background-color: black;
    border: 1px solid none;
    color: white;
    padding: 1rem;
    border-radius: 1.2rem;
    box-shadow: 0 3px 20px 0 rgba(177, 255, 193, 0.59);
}

.background-crop {
    margin-bottom: 30px;
    max-height: 30rem;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.background-crop img {
    width: 100%;
    min-height: 40rem;
    height: auto;

}
.btn{
    color: white;
    margin-bottom: 3px;
}

.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #72e9a0;
    border-radius: 3rem;
}

.pagination a:hover:not(.active) {
    background-color: #72e9a0;
}

.pagination .active {
    background-color: #72e9a0;
    border-radius: 3rem;   
}

.card-row {
    -webkit-column-gap: 0rem;
    column-gap: 0rem;
}
.bottle01 {
    width: 180px;
    height: 500px;
    margin: 50px 100px 0 248px;
    border-radius: 129px;
    position: relative;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }

  .bottle02 {
    width: 80px;
    height: 200px;
    margin: 0 0 0 500px;
    position: absolute;

    border-radius: 129px;
    background-image: linear-gradient(to bottom, #ddffc5, #b8f9be 47%, #fe619f);
  }

  .bottle03 {
    width: 100px;
    height: 200px;
    margin: -600px 40px 0 900px;
    border-radius: 129px;
    position: relative;

    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
  }
  .bottle04 {
    width: 122px;
    height: 200px;
    margin: 0px -140px 0 1100px;
    border-radius: 129px;
    position: relative;
    background-image: linear-gradient(to bottom, #7dffcb, #b6ffc1 47%, #b7ff80);
    opacity: 70%;
}
