body{
    height: 100%;
    width: 100%;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 12.6%;
    width: 100%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.8em;
    background-color: #404040;
}


.what{
    font-size: 0.5em;
    color:white;
}


.what:hover {
    color:grey;
}

.first{
    margin-top: 12.6%;
    text-align: center;

}


.second{
    display: flex;
    height: 50%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    
}

.second_baby{
    flex:1;
    height: 50%;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 1%;
    border-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 1px #707070;
}

.third{
    margin-bottom: 5%;
    text-align: center;
    font-size: 35px;
    background-color: #707070;
}

.forth{
    display: flex;
    background-color: #707070;
    margin-left: 30%;
    margin-right: 30%;
}

.forth_baby{
    flex:1;
    margin-right: 3%;
    margin-left: 3%;
}

.body2{
    background-color: #707070;
}