{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div style="background-color: #404040;">
        <nav class="navbar navbar-dark" style="background-color: #404040;">
            <a class="navbar-brand" href="#">ALCOLPEDIA</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="what" href="{%url 'home' %}">HOME</a>
            <a class="what" href="#" onclick="navClicked()">술게임</a>
            <a class="what" href="#">폭탄주</a>
            <a class="what" href="#">게시판</a>
            <a class="what" href="#">건의하기</a>
            {% if user.is_authenticated %}
                <a class="btn btn-secondary btn-sm" href="{%url 'sign_out'%}">Sign out</a>
                <div>{{user.username}}</div>
            {% else %}
                <a class="btn btn-secondary btn-sm" href="{%url 'sign_up'%}">Sign up</a>
                <a class="btn btn-secondary btn-sm" href="{%url 'sign_in'%}">Sign in</a>
            {% endif %}
        </nav>
        <div id="box1" class="box">
            <div class="row">
                <div class="col-sm"> 종류별
                    <hr style="border:inset 1px white;">무적<br> 저격</div>
                <div class="col-sm"> 난이도별
                    <hr style="border:inset 1px white;">★<br> ★★<br> ★★★<br></div>
            </div>
        </div>
    {% block content %}
    {% endblock %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        var box1 = document.getElementById("box1");
        var k = 0;
        var size = 0;
        var i, j;
        function navClicked() {
            if (k == 0) {
                box1.style.height = size + "px";
                box1.style.visibility = "visible";
                i = setInterval(expand, 5);
            }
            else {
                clearInterval(i);
                ight = size + "px";
                j = setInterval(contract, 5);
            }
            k = 1 - k;
        }

        function expand() {
            if (size == 200) {
                clearInterval(i);
            }
            else {
                size += 10;
                box1.style.height = size + "px";
            }
        }

        function contract() {
            if (size <= 0) {
                clearInterval(j);
                box1.style.visibility = "hidden";
            }
            else {
                size -= 10;
                box1.style.height = size + "px";
            }
        }
    </script>
</body>
</html>
