<style>
.container{
    padding-left: 0%;
    padding-right: 0%;
    background-color: #d0d0d0;
    padding-top: 10%;
    padding-bottom: 10%;

}

.container2{
    background-color: #ebebeb;
    width:100%;
    height: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 5%;
}

</style>
<div style="background-color: #d0d0d0;">
    <footer>
        <div class="container" >
            <div class="row">
                <div class="col">
                    <br><br>
                    <p style="font-size: 32px; color : #3d3d3d; text-align: left;">Alcolpedia  
                        <a href="" style="text-decoration: none; color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="white" width="5%" height="5%"><rect fill="none" height="24" width="24"/><path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/></svg>
                        
                        </a>
                        <a href="" style="text-decoration: none; color: white;">
                            <svg width="5%" height="5%" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                            </svg>
                        </a>
                    </p>
                    
                    <p style="font-size: 16px; color : #737373; text-align: left;">알콜피디아는 술을 먹다가 생각난 아이디어로 엄청납니다.<br>
                        제가 봤을 땐 저희가 일등하는 거 쌉 가능이에여 ㄹㅇ로
                        저만 믿으세여
                    </p>
                   
                </div>
                <div class="col col-lg-2">
                    <p style="font-size: 32px; color : #3d3d3d;">products</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">product 1</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">product 2</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">product 3</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">product 4</p>
                </div>
                <div class="col col-lg-2">
                    <p style="font-size: 32px; color : #3d3d3d; ">services</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">services 1</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">services 2</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">services 3</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">services 4</p>
                </div>
                <div class="col col-lg-2">
                    <p style="font-size: 32px; color : #3d3d3d; ">resources</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">news</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">blogs</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">videos</p>
                    <p style="font-size: 18px; color : #3d3d3d; ">FAQs</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="row">
                <div class="col">
                    <p>© 2020 Alcolpedia  All Rights Reserved.</p>
                </div>
                <div class="col-md-auto">
                    <p>Privacy Policy</p>
                </div>
                <div class="col col-lg-2">
                    <p>Terms of Service</p>
                </div>
              </div>
            
            
            
        </div>
    </footer>
    
</div>